<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC242L3_uF4nsP1hQ6tXF-zw8QbUYicwwQ</string>
	<key>GCM_SENDER_ID</key>
	<string>859490170130</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.phproject.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>park-humans</string>
	<key>STORAGE_BUCKET</key>
	<string>park-humans.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:859490170130:ios:783228340836794d98afcb</string>
</dict>
</plist>